:root {
  --orange: #e76f51;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto-Regular";
}

/* 
Reset Styles
*/
a {
  text-decoration: none;
}

/* Helper Class */

/* App Styles */

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("./../public/images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 55rem;
  border-radius: 0 0 10rem 10rem;
  
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__omg {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
}
.menu__link {
  color: var(--white);
}
.nav-menu {
  position: fixed;
  background-color: rgb(97, 97, 93);
  top: 0;
  bottom: 0;
  left: -20rem;
  width: 20rem;
  padding: 2.5rem;
  transition: all 250ms ease-in-out;
}
.nav-menu--open {
  left: 0rem;
}
.mobile-menu {
  margin-bottom: 3rem;
}
.mobile-menu__item {
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--white);
}
.nav-menu__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu__link {
  color: var(--white);
  border: 1px solid var(--white);
  display: block;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
}
.nav-menu__link--border {
}
.header__links {
  display: none;
}
.header__link {
}
.header__link--border {
}
.nav__btn {
  background-color: var(--white);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__btn-line {
  position: relative;
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
}
.nav__btn-line::before {
  top: -0.8rem;
}
.nav__btn-line::after {
  top: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::before {
  top: 0;
  transform: rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  top: 0;
  transform: rotate(-45deg);
}
