html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto-Regular";
}

/* 
Reset Styles
*/
a {
  text-decoration: none;
}

/* Helper Class */

/* App Styles */
