:root {
  --orange: #e76f51;
  --white: #fff;
  --grey: #d2d2d2;
  --dark: #3b3735;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto-Regular";
}

/* 
Reset Styles
*/
a {
  text-decoration: none;
}

/* Component */

.btn {
  display: block;
  border-radius: 10rem;
  color: var(--white);
  background-color: var(--dark);
  width: 18rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Medium";
}

/* App Styles */

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("./../public/images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 85vh;
  border-radius: 0 0 10rem 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 4rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
  margin-right: 1.5rem;
}
.menu__link {
  color: var(--grey);
  transition: all 0.2s ease-in-out;
}
.menu__link:hover {
  color: var(--white);
}
.menu__link--active {
  color: var(--white);
  position: relative;
  z-index: 1;
}
.menu__link--active::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  left: 0rem;
  top: 1rem;
  right: 0;
  margin: 0 auto;
  transform: rotate(-45deg);
  z-index: -1;
}
.nav-menu {
  position: fixed;
  background-color: var(--orange);
  top: 0;
  bottom: 0;
  left: -20rem;
  width: 20rem;
  padding: 2.5rem;
  transition: all 250ms ease-in-out;
}
.nav-menu--open {
  left: 0rem;
}
.mobile-menu {
  margin-bottom: 3rem;
}
.mobile-menu__item {
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--white);
}
.nav-menu__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu__link {
  color: var(--white);
  border: 1px solid var(--white);
  display: block;
  padding: 1rem;
  flex-grow: 1;
  text-align: center;
}
.nav-menu__link--border {
}
.nav__links {
  display: none;
}
.nav__link {
  color: var(--white);
  font-family: "Roboto Medium";
  margin-left: 1.5rem;
}
.nav__link--border {
  border: 1px solid var(--white);
  padding: 1rem 2.5rem;
  border-radius: 9rem;
  transition: all 0.2s ease-in-out;
}
.nav__link--border:hover {
  background-color: var(--white);
  color: var(--dark);
}
.nav__btn {
  background-color: var(--white);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__btn-line {
  position: relative;
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--orange);
  transition: all 250ms ease-in-out;
}
.nav__btn-line::before {
  top: -0.8rem;
}
.nav__btn-line::after {
  top: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::before {
  top: 0;
  transform: rotate(45deg);
}
.nav__btn--open .nav__btn-line::after {
  top: 0;
  transform: rotate(-45deg);
}

.header-content {
  text-align: center;
  color: var(--white);
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-content__title {
  font-family: "Archivo Black";
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  max-width: 35rem;
}
.header-content__caption {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  max-width: 34rem;
}
.header-content__link {
  background-color: var(--orange);
}
