@font-face {
    font-family: "Archivo";
    src: url(./../public/fonts/Archivo/Archivo-Black.ttf);
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(./../public/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(./../public/fonts/Roboto/Roboto-Regular.ttf);
}