.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 576px) {
    .container {
      width: 54rem;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      width: 72rem;
    }
  }
  @media screen and (min-width: 992px) {
    .container {
      width: 96rem;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      width: 114rem;
    }
  }
  @media screen and (min-width: 1400px) {
    .container {
      width: 137rem;
    }
  }