@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    .nav__btn {
        display: none;
    }
    .nav-menu {
        display: none;
    }
    .menu {
        display: flex;
    }
    
}
@media screen and (min-width: 992px) {
    .header__links {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
