@media (max-width: 380px) {
    .header-content__title {
        font-size: 4rem;
    }
    .destinations__title {
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
    .nav__btn {
        display: none;
    }
    .nav-menu {
        display: none;
    }
    .menu {
        display: flex;
    }
    
}
@media screen and (min-width: 992px) {
    .nav__links {
        display: block;
    }
    .header-content__caption {
        max-width: 50rem;
    }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
